/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
.flash_error {
  background-color: #ffeded;
  border: 1px #f58a8a solid;
  border-left:none;
  border-right:none;
  color:#b60e0e;
  padding: 7px 10px;
  margin:10px auto 20px auto;
  font-weight:bold;
}

.flash_notice {
  background-color: #f1ffed;
  border: 1px #a3f58a solid;
  border-left:none;
  border-right:none;
  color:#1e7b21;
  padding: 7px 10px;
  margin:10px auto 20px auto;
  font-weight:bold;
} 